{{!Creamos un contenedor}}
<div class="container p-4">
    {{!Creamos una fila para cada contenido}}
    <div class="row">
        {{!Creamos una columna de 4 unidades}}
        <div class="col-md-4 mx-auto">
            {{!Creamos una tarjeta}}
            <div class="card ">
                {{!Cuerpo de la tarjeta}}
                <div class="card-body">
                    {{!Ruta del formulario y metodo a usar}}
                    <form action="/softwares/edit/{{programa.pro_id}}" method="POST">
                        {{!Campo para el nombre del programa}}
                        <div class="form-group">
                            <input type="text" value ="{{programa.pro_nom}}" name="pro_nom" class="form-control" placeholder="Programa..." autofocus>
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la version del programa}}
                        <div class="form-group">
                            <input type="text" value ="{{programa.pro_ver}}" name="pro_ver" class="form-control" placeholder="Version..." autofocus>
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la descripcion del programa}}
                        <textarea name="pro_det" rows="2" class="form-control" placeholder="Descripcion...">{{programa.pro_det}}</textarea>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la imagen del programa}}
                        <div class="form-group">
                            <input type="url" name="pro_img" value ="{{programa.pro_img}}" class="form-control" placeholder="URL de la imagen...">
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Campo para la URL de descarga del programa}}
                        <div class="form-group">
                            <input type="url" name="pro_url" value ="{{programa.pro_url}}"class="form-control" placeholder="URL de descarga...">
                        </div>
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        
                        {{!Espacio SALTO DE LINEA}}
                        <br>
                        {{!Boton de guardar}}
                        <div class="form-group">
                            {{!Boton para guardar...}}
                            <button class="btn btn-success btn-block">
                                GUARDAR PROGRAMA
                            </button>
                            {{!Boton para cancelar...}}
                            <a href="/softwares" class="btn btn-secondary btn-block">
                                CANCELAR
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>