{{!Creamos un contenedor para nuestro programa}}
<div class="containet p-3">
    {{!Creamos una fila}}
    <div class="row">
        {{!Creamos un boton para agregar un nuevo sw basico}}
        <div class="d-grid gap-2 col-2 mx-auto">
            {{!Boton para eliminar}}
            <a href="/softwares/add" class="btn btn-primary">
                Agregar programa
            </a>
        </div>
        {{!Creamos un espacio entre el boton y los programas}}
        <p>
        </p>
        {{!#each es para recorrer una lista}}
        {{#each programas}}
        {{!Creamos una columna de 3 unidades}}
        <div class="col-md-3">
            {{!Creamos una tarjeta para nuestro programa}}
            <div class="card text-center">
                {{!Creamos el titulo de nuestra tarjeta}}
                <div class="card-body">
                    {{!Asignamos un hipervinculo con el campo de la URL de descarga}}
                    <a href="{{pro_url}}">
                        {{!Marquillamos el tipo de titulo}}
                        <h3>
                            {{!Colocamos el nombre del programa}}
                            <div class="card-tittle text-uppercase">
                                {{pro_nom}}
                            </div>
                        </h3>
                    </a>
                    {{!Colocamos la descripcion del programa}}
                    <p class="m-2">
                        {{pro_det}}
                    </p>
                    {{!Colocamos la fecha de creacion o actualizacion de la informacion del programa}}
                    <p>
                        {{!Invocamos el metodo timeago para la traduccion de la fecha}}
                        {{timeago pro_act}}
                    </p>
                    {{!Boton para eliminar}}
                    <a href="/softwares/delete/{{pro_id}}" class="btn btn-danger">
                        Eliminar
                    </a>
                    {{!Boton para editar}}
                    <a href="/softwares/edit/{{pro_id}}" class="btn btn-secondary">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{!Si no existen programas realice la siguiente accion}}
        {{else}}
        {{!Si no hay enlaces muestre lo siguiente}}
        <div class="col-md4 p-3">
            {{!}}
            <div class="card card-body d-grid gap-2 col-6 mx-auto text-center">
                {{!}}
                <p>
                    No existen programas para este equipo, por favor agrega uno.
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>