{{!Creamos un contenedor para nuestro programa}}
<div class="containet p-3">
    {{!Creamos una fila}}
    <div class="row">
        {{!Creamos un boton para agregar una nueva URL}}
        <div class="d-grid gap-2 col-2 mx-auto">
            {{!Boton para agregar}}
            <a href="/urls/add" class="btn btn-primary">
                Agregar URL
            </a>
        </div>
        {{!Creamos un espacio entre el boton y las URLS}}
        <p>
        </p>
        {{!#each es para recorrer una lista}}
        {{#each urls_ti}}
        {{!Creamos una columna de 3 unidades}}
        <div class="col-md-3">
            {{!Creamos una tarjeta para nuestro programa}}
            <div class="card text-center">
                {{!Creamos el titulo de nuestra tarjeta}}
                <div class="card-body">
                    {{!Asignamos un hipervinculo con el campo de la URL de descarga}}
                    <a href="{{url_url}} " target="_blank">
                        {{!Marquillamos el tipo de titulo}}
                        <h3>
                            {{!Colocamos el nombre del programa}}
                            <div class="card-tittle text-uppercase">
                                {{url_nombre}}
                            </div>
                        </h3>
                    </a>
                    {{!Colocamos la descripcion del programa}}
                    <p class="m-2">
                        <i>{{url_detalle}}</i>
                        <br>
                        <b>Usuario: </b>{{url_usuario}}
                        <br>
                        <b>Contraseña: </b>{{url_clave}}
                    </p>
                    {{!Colocamos la fecha de creacion o actualizacion de la informacion del programa}}
                    <p>
                        {{!Invocamos el metodo timeago para la traduccion de la fecha}}
                        {{timeago url_fecha_actualizacion}}
                    </p>
                    {{!Boton para eliminar}}
                    <a href="/urls/delete/{{url_id}}" class="btn btn-danger">
                        Eliminar
                    </a>
                    {{!Boton para editar}}
                    <a href="/urls/edit/{{url_id}}" class="btn btn-secondary">
                        Editar
                    </a>
                </div>
            </div>
        </div>
        {{!Si no existen software base realice la siguiente accion}}
        {{else}}
        {{!Si no hay enlaces muestre lo siguiente}}
        <div class="col-md4 p-3">
            {{!}}
            <div class="card card-body d-grid gap-2 col-6 mx-auto text-center">
                {{!}}
                <p>
                    No existen URL's registradas, por favor agrega una.
                </p>
            </div>
        </div>
        {{/each}}
    </div>
</div>